body {
    color: #777;
    background: url("../images/background.png");
    text-align: center;
}

#footer {
    margin-top: 35%;
    opacity: .5;
}

header {
    padding-bottom: 25px;
}

form {
    display: none;
}
